*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 10px 0 20px;
  padding: 5px;
  background-color: rgb(126, 146, 126);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin: 5px;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.656);
  display: none;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  z-index: 1000;

}

#lightbox-image {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  border: none;
  background: transparent;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
